* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Canterbury';
    src: url('fonts/Canterbury.ttf') format('truetype');
}

.content {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.sajurolinks {
    display: flex;
    margin-top: 30px;
    font-family: 'Canterbury';
    font-size: 45px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
    border-radius: 50px;
    width: 380px;
    height: 380px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

input[type="email"], input[type="password"], input[type="text"]{
    font-family: "Ovo", serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 8px 0;
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.login-container {
    margin: 0;
}

.input-container input {
    border-bottom: 2px solid black;
    width: 75%;
    border-radius: 0;
    z-index: 100;
}

.input-container label {
    font-family: "Ovo", serif;
    position: absolute;
    left: 47px;
    top: 46%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    pointer-events: none;
    transition: 0.6s;
}

input:focus ~ label,
input:valid ~ label {
    top: -2px;
    font-size: 16px;
}
.login-button {
    font-family: "Ovo", serif;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.login-button:hover {
    color: rgb(71, 7, 66);
}

.icon {
    position: absolute;
    left: 90%;
    top: 25%;
    width: 20px;
}

.icon-2 {
    position: absolute;
    left: 89.3%;
    top: 15%;
    width: 25px;
}
.icon-3 {
    position: absolute;
    left: 90.5%;
    top: 32%;
    width: 17px;
}
@media (max-width: 400px) {
    .transparente-cuadro {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        border-radius: 50px;
        width: 340px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);

    }
    .login-container {
        margin-top: -20px;
    }
    .input-container label {
        left: 23px;
    }
    .input-container input{
        width: 85%;
    }
    .icon{
        left: 94%;
    }
    .icon-2{
        left: 93.2%;
    }
    .icon-3{
        left: 94.5%;
    }
    
}
