<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Canterbury';
    src: url('fonts/Canterbury.ttf') format('truetype');
}

.content {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.sajurolinks {
    display: flex;
    margin-top: 30px;
    font-family: 'Canterbury';
    font-size: 45px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
=======

* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Canterbury';
    src: url('fonts/Canterbury.ttf') format('truetype');
  }
  

body {
    height: 100vh;
    background-image: url('img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Ovo", serif;
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.sajuro {
    color: black;
    text-decoration: none;
}

.sajurolink {
    position: relative;
    font-family: 'Canterbury', serif;
    font-size: clamp(2rem, 4.5vw, 8rem); /* Adapta el tamaño del texto a la pantalla */
    overflow: hidden;
    text-align: center;
    top: 1%;
>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
}

.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
<<<<<<< HEAD
    backdrop-filter: blur(0.5px);
    border-radius: 50px;
    width: 380px;
    height: 380px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

input[type="email"], input[type="password"], input[type="text"]{
    font-family: "Ovo", serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 8px 0;
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.login-container {
    margin: 0;
}

.input-container input {
    border-bottom: 2px solid black;
    width: 75%;
    border-radius: 0;
    z-index: 100;
}

.input-container label {
    font-family: "Ovo", serif;
    position: absolute;
    left: 47px;
    top: 46%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    pointer-events: none;
    transition: 0.6s;
}

input:focus ~ label,
input:valid ~ label {
    top: -2px;
    font-size: 16px;
}
.login-button {
    font-family: "Ovo", serif;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.login-button:hover {
    color: rgb(71, 7, 66);
}

.icon {
    position: absolute;
    left: 90%;
    top: 25%;
    width: 20px;
}

.icon-2 {
    position: absolute;
    left: 89.3%;
    top: 15%;
    width: 25px;
}
.icon-3 {
    position: absolute;
    left: 90.5%;
    top: 32%;
    width: 17px;
}
@media (max-width: 400px) {
    .transparente-cuadro {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        border-radius: 50px;
        width: 340px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);

    }
    .login-container {
        margin-top: -20px;
    }
    .input-container label {
        left: 23px;
    }
    .input-container input{
        width: 85%;
    }
    .icon{
        left: 94%;
    }
    .icon-2{
        left: 93.2%;
    }
    .icon-3{
        left: 94.5%;
    }
    
}
=======
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 20px;
    width: 460px;
    height: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 550px) {
    .transparente-cuadro {
        width: 300px;
        height: 300px;
    }
}

.usuario {
    font-family: "Segoe UI", sans-serif;
    position: relative;
    top: 10%;
    margin-left: 12%;
}

.usuario input {
    position: relative;
    width: 85%;
    padding: 10px;
    font-size: 25px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #333;
    outline: none;
    top: -30px;
}

.usuario label {
    position: absolute;
    font-family: 'Canterbury', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}

.usuario input:focus + label,
.usuario input:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.usuario input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333;
}

.contrasena {
    position: relative;
    top: 14%;
    margin-left: -1%;
}

.contrasena input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #333;
    outline: none;
}

.contrasena label {
    position: absolute;
    font-family: 'Old English Text MT', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contrasena input:focus + label,
.contrasena input:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.contrasena input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333;
}

.email {
    position: relative;
    bottom: -3%;
    margin-left: -1%;
}

.email input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #333;
    outline: none;
}

.email label {
    position: absolute;
    font-family: 'Old English Text MT', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}

.email input:focus + label,
.email input:not(:placeholder-shown) + label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.email input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333;
}
.registrar{
    position: relative;
    bottom: -15%;
    margin-left: 32%;
    font-family: "Ovo", serif;
    font-size: clamp(10px, 30px, 150px); 
    color: aliceblue;
    filter: blur(0.4px);
}

.registrarse{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.registrarse:hover{
    color: rgb(71, 7, 66);
}
>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
