<<<<<<< HEAD

* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Canterbury';
    src: url('fonts/Canterbury.ttf') format('truetype');
  }
  
.content {
    display: flex;
    justify-content: center;
    width: 100vw;
=======
.content{
    display: flex;
    justify-content: center;
>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
<<<<<<< HEAD
.sajurolinks {
    display: flex;
    margin-top: 30px;
    font-family: 'Canterbury';
    font-size: 45px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}
.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
    border-radius: 50px;
    width: 380px;
    height: 330px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}
input[type="text"], input[type="password"] {
    font-family: "Ovo", serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 8px 0;
    
}
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.login-container{
    margin: 0;
}
.input-container input {
    border-bottom: 2px solid black;
    width: 70%;
    height: 30px;
}

.input-container label {
    font-family: "Ovo", serif;
    position: absolute;
    left: 57px;
    top: 55%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    pointer-events: none;
    transition: 0.5s;
}   

input:focus ~ label,
input:valid ~ label {
    top: -2px;
    font-size: 16px;
}

.login-button {
    font-family: "Ovo", serif;
    width: 42%;
    height: 45px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-top: -12px;
    border-radius: 20px;
    background-color:transparent; 
    margin-left: 29%;
}
.login-button:hover{
    /*color: rgb(246, 11, 246);*/
}
.icon{
    position: absolute;
    left: 87%;
    top: 28%;
    width: 25px;
}
.icon-2{
    position: absolute;
    left: 86.5%;
    top: 24%;
    width: 28px;
}

@media (max-width: 400px) {
    .transparente-cuadro {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        border-radius: 50px;
        width: 340px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
    }
    .login-container {
        margin-top: -20px;
    }
    .input-container label {
        left: 25px;
    }
    .input-container input {
        border-bottom: 2px solid black;
        width: 75%;
        height: 30px;
        padding: 0 15px 0 15px;
        border-radius: 0px;
    }
    .login-button {
        width: 55%;
        height: 40px;
        color: #fff;
        border: none;
        font-size: 25px;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: -10px;
        border-radius: 20px;
        background-color: transparent; 
        margin-left: 22%;
    }
    .icon{
        top: 30%;
        left: 93%;
    }
    .icon-2{
        left: 92.3%;
    }
    
}
=======
.sajurolink{
    position: relative;
    font-family: 'Old English Text MT', serif;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 3vh;
}
.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 40px;
    padding: 20px;
    width: 380px;
    height: 340px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 750px) {
    .transparente-cuadro {
        width: 300px;
        height: 300px;
    }
}

.login-container input[type="text"],.login-container input[type="password"] {
    font-family: "Ovo", serif"Segoe UI", sans-serif;
    background-color: transparent;
    outline: none; 
    border:none ;
    background-color: transparent;
    outline: none; 
    border:none ;
    width: 30vw;
    font-size: 20px;
    border-bottom: 2px solid black;
    color: #202124;
}
.usuario{
    display: flex;
    width: 20vw;
    height: 4vh;
    margin: 5vh 2vw;
    color: #5f6368;
}

.contra{
    display: flex;
    margin: -1vh 2vw 2vh;
    width: 20vw;
    height: 5vh;   
}
::placeholder{
    color: black;
    font-family: "Ovo", serif;
}
.boton-inicio{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    display: flex;
    width: 25vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
