.content{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.sajurolinks{
    display: flex;
    font-family: 'Old English Text MT', serif;
    font-size: 50px;
    height: 15vh;
    justify-content: center;
    align-items: flex-end;
    max-width: 700px;
}
.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 40px;
    width: 380px;
    height: 340px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
input[type="text"], input[type="password"]{
    background-color: transparent;
    border: none;
    outline: none;
}
::placeholder{
    color: black;
    font-family: "Ovo", serif;
}
.boton-inicio{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    display: flex;
    width: 25vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.pass{
    position: absolute;
}