*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Canterbury';
    src: url('fonts/Canterbury.ttf') format('truetype');
  }

body {
            
            height: 100vh;
            background-size: cover; /* Hace que el fondo cubra todo el área */
            background-position: center; /* Centra la imagen de fondo */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            font-family: "Ovo", serif;
            overflow: hidden;
            
}

.inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 20px;
            overflow: hidden;
}
.titulo{
    position: relative;
    bottom: 6%; 
    font-family: 'Canterbury', serif;
    font-size: clamp(10px, 65px, 150px); 
}
.titulo2{
    position: relative;
    bottom: 4%;
    font-family: "Ovo", serif;
    font-size: clamp(10px, 30px, 150px); 
    color: aliceblue;
    filter: blur(0.4px);
}
.titulo3{
    position: relative;
    top: 0%;
    font-family: "Ovo", serif;
    font-size: clamp(10px, 30px, 150px); 
    color: aliceblue;
    filter: blur(0.4px);
}
.titulo4{
    position: relative;
    bottom: 63%;
    font-family: 'Old English Text MT', serif;
    font-size: clamp(10px, 65px, 150px); 

}
.usuario{
    position: relative;
    bottom: 57%;
    margin-left: -10%;

}

.usuario input {
    width: 170%;
    padding: 10px;
    font-size: 16px;
    background: transparent; /* Hace el fondo del input transparente */
    border: none; /* Elimina el borde */
    border-bottom: 1px solid #000000; /* Añade un borde inferior para la línea */
    color: #333; /* Color del texto dentro del input */
    outline: none; /* Elimina el borde azul por defecto al hacer clic */
}
.usuario label {
    position: absolute;
    font-family: 'Old English Text MT', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}
.usuario input:focus + label,
        .usuario input:not(:placeholder-shown) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #333;
}
.usuario input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333; /* Asegura que el texto tenga el color correcto */
}
.contrasena{
    position: relative;
    bottom: 53%;
    margin-left: -10%;

}

.contrasena input {
    width: 170%;
    padding: 10px;
    font-size: 16px;
    background: transparent; /* Hace el fondo del input transparente */
    border: none; /* Elimina el borde */
    border-bottom: 1px solid #000000; /* Añade un borde inferior para la línea */
    color: #333; /* Color del texto dentro del input */
    outline: none; /* Elimina el borde azul por defecto al hacer clic */
}
.contrasena label {
    position: absolute;
    font-family: 'Old English Text MT', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}
.contrasena input:focus + label,
        .contrasena input:not(:placeholder-shown) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #333;
}
.contrasena input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333; /* Asegura que el texto tenga el color correcto */
}
.email{
    position: relative;
    bottom: 49%;
    margin-left: -10%;

}

.email input {
    width: 170%;
    padding: 10px;
    font-size: 16px;
    background: transparent; /* Hace el fondo del input transparente */
    border: none; /* Elimina el borde */
    border-bottom: 1px solid #000000; /* Añade un borde inferior para la línea */
    color: #333; /* Color del texto dentro del input */
    outline: none; /* Elimina el borde azul por defecto al hacer clic */
}
.email label {
    position: absolute;
    font-family: 'Old English Text MT', serif;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000000;
    transition: all 0.3s ease;
    pointer-events: none;
}
.email input:focus + label,
        .email input:not(:placeholder-shown) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #333;
}
.email input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #333; /* Asegura que el texto tenga el color correcto */
}
.iniciar{
    color: aliceblue;
    text-decoration: none; 
}
.iniciar:hover{
    color: rgb(71, 7, 66);
}
.sajuro{
    color: black;
    text-decoration: none; 
}
<<<<<<< HEAD
=======

.sajurolink{
    position: relative;
    font-family: 'Old English Text MT', serif;
    font-size: clamp(10px, 50px, 150px); 
    text-align: center;
}
.transparente-cuadro {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    width: 480px;
    height: 430px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 550px) {
    .transparente-cuadro {
        width: 300px;
        height: 300px;
    }
}

.login-container input[type="text"],
.login-container input[type="password"] {
    background-color: transparent;
    outline: none; 
    border:none ;
}
.contrasena{
    margin-left: 15%;    
}
::placeholder{
    color: black;
    font-size: clamp(10px, 25px, 30px);
    font-family: "Ovo", serif;
}

>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
/* Estilo para el input que muestra las sugerencias */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

/* Estilo para la lista desplegable */
input::-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}


.login-container input[type="submit"] {
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    font-family: "Ovo", serif;
    top: 70%;
}



@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}
<<<<<<< HEAD
=======

>>>>>>> ed37ad76750381da3f6043c7f0dd27de5f6ccc06
