

.container{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 140%;
    gap: 12vw;
}

@media(max-width: 600px){
    .container{ 
        flex-direction: column;
        overflow-y: scroll;
        justify-content: start;
        align-items:center;
        width: 100%;
        height: 100%;
    }
}
@media(max-width: 390px){
    .container{ 
        flex-direction: column;
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
    }
}

.imgSolitario{
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
}
.imgMultijugador{
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.imgs{
    width: 400px;
}
.perfils{
    width: 100%;
}

@media(min-width: 0px) and (max-width:399px) {
    .container{
        gap: 0;
    }
    .imgs{
        width: 300px;
    }
    .titulo{
        display: flex;
        width: 50vw;
        font-size: 60px;
        justify-content: end;        
        top: -4px;
    }
    .perfils{
        width: 80px;
        margin-top: 10px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .container{
        gap: 0;
    }
    .imgs{
        width: 300px;
    }
    .titulo{
        display: flex;
        font-size: 60px;
        width: 50vw;
        top: -4px;
        justify-content: end;
    }
    .perfils{
        width: 80px;
        margin-top: 10px;
    }
}
@media (min-width: 501px) and (max-width: 699px) {
    .titulo{
        display: flex;
        width: 100%;
        font-size: 80px;
        margin-left: 120px;
        margin-top: 40px;
    }
    .perfils{
        width: 100px;
        margin-top: 20px;
    }
}
@media (min-width: 700px) and (max-width: 790px) {
    .imgs{
        width: 300px;
    }
    .titulo{
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 60px;
        top: -5px;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 0;
    }
   .imgSolitario{
        display: flex;
        justify-content: center;
   }
}
