.containerJugadores {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
    display: none; /* Oculto inicialmente */
    justify-content: center ;
    align-items: center;
    z-index: 1000; /* Coloca el overlay por encima del contenido */
    gap: 10vw;
}
.imgSolitario img, .imgMultijugador img {
    cursor: pointer;    
}
.img-1{
    width: 380px;
}
.img-2{
    width: 400px;
    margin-top: 10px;
}
.img-3{
    width: 350px;
    margin-top: -15px;
}
.perfil{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    justify-content: end;
    align-items: flex-start;


}



.boton{
    background-color: transparent;
    border: 0px transparent;
}

@media(max-width: 600px){
    .containerJugadores{
        display: none;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: start;
    }
    .img-1{
        width: 210px;
    }
    .img-2{
        width: 220px;
    }
    .img-3{
        width: 190px;
    }
}

.boton{
    background-color: transparent;
    border: 0px transparent;
}
