@font-face {
    font-family: 'Metal Mania';
    src: url('../../../sajuronoche/css/fonts/MetalMania-Regular.ttf') format('truetype');
}
html{
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */

}
.contenido-multijugador{
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.titulo-crear{
    font-family: 'Metal Mania';
    position: fixed;
    margin: -70px 60px;
    color: rgb(52, 42, 34);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.titulo-unir{
    font-family: 'Metal Mania';
    position: fixed;
    margin: -70px 58px;
    color: rgb(52, 42, 34);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
/* Unirse*/
.codigo-ingreso{
    border: none;
    background-color: transparent;
    outline: none;
    overflow: hidden;
}
.codigo-ingreso {
    display: grid;
    border-bottom: 2px solid rgb(108, 75, 48);
    width: 40px;
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
    color: rgba(232, 175, 129, 0.755);
    height: 24px;
    font-family: 'Metal Mania';
    overflow: hidden;
}
.content-codigo{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 72vh;
    align-items: center;
    overflow: hidden;
}
.titulo-mensaje{
    text-align: center;
    font-size: 30px;
    color: rgba(232, 175, 129, 0.755);
    margin: 4vh -2vw;
    font-family: 'Metal Mania';
    overflow: hidden;

}
.boton{
    display: grid;
    width: 22vw;
    justify-self: center;
    background: #7e6d42a2;
    border: 1px solid #c19a67;
    color: #d4c0a1;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-family: 'Metal Mania';
    grid-row-start: 5;
    padding-top: 3px;
    margin-top: -5vh;
    height: 25px;
    overflow: hidden;

}
.boton:hover {
    background: #9e8852;
}
.lineas-codigo{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 20vw;
    justify-self: center;
    overflow: hidden;
}
.codigo-final{
    display: grid;
    height: 50vh;
    grid-template-rows: repeat(4, 25%);
    width: 50vw;
    overflow: hidden;
}
.content-lineasCodigo{
    display: grid;
    grid-row-start: 2;
    align-items: end;
    overflow: hidden;
}
.titulo-mensaje-2{
    display: grid;
    justify-self: center;
    font-family: 'Metal Mania';
    font-size: 14px;
    color: rgba(232, 175, 129, 0.755);
    margin-top: -25px;
    overflow: hidden;
}
/* Finalizo unirse*/

/* Crear sala*/
.contenidoGeneral-crearSala{
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: hidden;
}
.contenidoGeneral-usuarios{
    margin-top: 7vh;
    overflow: hidden;
}
.titulo-jugadores{
    position: fixed;
    display: grid;
    justify-items: center;
    font-family: 'Metal Mania';
    color: white;
    font-size: 35px;
    grid-column-start: 2;
    justify-self: center;
    margin: -7vh 26.5vw;
}
.titulo-expulsar{
    position: fixed;
    display: grid;
    grid-column-start: 1;
    font-family: 'Metal Mania';
    background-color: red;
    width: 60px;
    text-align: center;
    height: 20px;
    align-self: center;
    color: white;
    top: 87vh;
    left: 29.3vw;
}
.imagen-usuario{
    height: 100%;
    display: grid;
    align-items: end;
}
.username-multi{
    font-family: 'Metal Mania';
    height: 2vh;
    color: white;
    font-size: 0.9vw;
    display: grid;
    grid-row-start: 2;
    align-self: flex-start;
}
.contenido-usuarios{
    display: grid;
    height: 16.5vh;
    width: 10vw;
    justify-items: center;
    grid-template-rows: 82% 18%;
}
.contenido-usuarioMover{
    margin: 6vh 2vw;
    width: 68vw;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 15px;
    row-gap: 2vh;
    justify-self: center;
    position: fixed;
}
.codigoANDnumero{
    position: fixed;
    display: grid;
    justify-items: center;
    top: 92vh;
    left: 28.8vw;
}
.codigo-aleatorio{
    font-family: 'Metal Mania';
    font-size: 25px;
    color: white;
}
.numero-codigo{
    font-family: 'Metal Mania';
    font-size: 18px;
    color: white;
}
.color-seleccionado{
    background-color: #c19a67;
}
.ronda-1-2, .ronda-2-4, .ronda-4-6, .tiempo-4, .tiempo-6, .tiempo-8, .modo-libre, .modo-aleatorio {
    margin: 5px 0;
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    font-size: 1vw;
}
.ronda-1-2:hover, .ronda-2-4:hover, .ronda-4-6:hover, .tiempo-4:hover, .tiempo-6:hover, .tiempo-8:hover, .modo-libre:hover,.modo-aleatorio:hover {
    background-color: #c19a67;
}

.titulo-jugadores{
    position: fixed;
    display: grid;
    justify-items: center;
    font-family: 'Metal Mania';
    color: white;
    font-size: 2.5vw;
    grid-column-start: 2;
    justify-self: center;
    margin: -7vh 26.5vw;
}
#modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalidad{
    height: 18vh;
    display: grid;
    grid-template-rows: 6vh 10vh;
}
.opciones-modalidad{
    display: grid;
    grid-row-start: 2;
    gap: 0;
    margin: 0;
}
.rondas, .tiempo, .modalidad{
    display: grid;
    justify-items: center;
}
.contenido-configurar{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2,1fr); 
    margin-top: 6vh;
}
.titulo-configurar{
    display: grid;
    font-family: 'Metal Mania';
    font-size: 2.5vw;
    color: white;
    justify-items: center;
    width: 100%;
}
.imgUsuariounirse{
    width: 7vw;
}
.contenidoGeneral-configuraciones{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% repeat(4, 1fr);
}
#iniciar{
    position: fixed;
    display: grid;
    justify-self: center;
    grid-row-start: 4;
    color: white;
    background-color: #3e301d;
    border: 1px solid #5f4a2c;
    top: 93vh;
}
.ocultar-moda{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.x{
    background-color: red;
    width: 20px;
    text-align: center;
    margin-top: -20.5px;
    border: 1px solid salmon;
}
.button-crear{
    background-color: transparent;
    border: none;
}

.button-unirse{
    background-color: transparent;
    border: none;
}

/* Finalizo crear sala*/