*{
    margin: 0;
    font-family: 'Metal Mania';
}
@font-face {
    font-family: 'Metal Mania';
    src: url('../../../sajuronoche/css/fonts/MetalMania-Regular.ttf') format('truetype');
}
html{
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */

}
.logo{
    position: fixed;
    width: 14vw;
    top: 3.5vh;
    left: 43vw;
}
.contenido-home-modalidad {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 70px;
}
.img-multijugador{
    width: 20vw;
    position: fixed;
    height: 15vh;
    align-items: start;
    display: grid;
}
.crear{
    margin-left: -0.3vw;
}
.campos{
    display: grid;
    position: fixed;
    top: 34vh;
    gap: 5vh;
    grid-template-rows: 50% 50%;
    height: 20vh;
    left: 40vw;
}
.titulo-crear{
    font-family: 'Metal Mania';
    position: relative;
    color: rgb(52, 42, 34);
    font-size: 4.8vh;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    margin-top: 4.4vh;
    margin-left: 1vw;
}
.titulo-unirse{
    margin-left: 1vw;
}
/* Unirse*/
.codigo-ingreso{
    border: none;
    background-color: transparent;
    outline: none;
    overflow: hidden;
}
.codigo-ingreso {
    display: grid;
    border-bottom: 2px solid rgb(108, 75, 48);
    width: 4vw;
    font-size: 3.5vh;
    margin-left: 1.2vw;
    text-align: center;
    color: rgba(232, 175, 129, 0.755);
    height: 4vh;
    font-family: 'Metal Mania';
    overflow: hidden;
}  
.content-codigo{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 77vh;
    align-items: center;
    overflow: hidden;
}
.titulo-mensaje{
    text-align: center;
    font-size: 2.1vw;
    color: rgba(232, 175, 129, 0.755);
    margin: 4vh 0vw;
    font-family: 'Metal Mania';
    overflow: hidden;

}
.boton{
    display: grid;
    width: 22vw;
    justify-self: center;
    background: #7e6d42a2;
    border: 1px solid #c19a67;
    color: #d4c0a1;
    font-size: 2vh;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-family: 'Metal Mania';
    grid-row-start: 5;
    padding-top: 3px;
    margin-top: -5vh;
    height: 3.2vh;
    overflow: hidden;
    align-self: center;
}
.boton:hover {
    background: #9e8852;
}
.lineas-codigo{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 25vw;
    justify-self: center;
    overflow: hidden;
    column-gap: 0.002vw;
}
.codigo-final{
    display: grid;
    height: 50vh;
    grid-template-rows: repeat(4, 25%);
    width: 50vw;
    overflow: hidden;
}
.content-lineasCodigo{
    display: grid;
    grid-row-start: 2;
    align-items: end;
    overflow: hidden;
}
.titulo-mensaje-2{
    display: grid;
    justify-self: center;
    font-family: 'Metal Mania';
    font-size: 1.2vw;
    color: rgba(232, 175, 129, 0.755);
    margin-top: -1.8vw;
    overflow: hidden;
}
/* Finalizo unirse*/

/* Crear sala*/
.contenidoGeneral-crearSala{
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: hidden;
}
.contenidoGeneral-usuarios{
    margin-top: 7vh;
    overflow: hidden;
}
.titulo-jugadores{
    position: fixed;
    display: grid;
    justify-items: center;
    font-family: 'Metal Mania';
    color: white;
    font-size: 35px;
    grid-column-start: 2;
    justify-self: center;
    margin: -7vh 26.5vw;
}
.titulo-expulsar{
    position: fixed;
    display: grid;
    grid-column-start: 1;
    font-family: 'Metal Mania';
    background-color: red;
    width: 5vw;
    text-align: center;
    height: 2.7vh;
    align-self: center;
    color: white;
    top: 87vh;
    left: 29.3vw;
    font-size: 1.05vw;
}
.imagen-usuario{
    height: 100%;
    display: grid;
    align-items: end;
}
.username-multi{
    font-family: 'Metal Mania';
    height: 2vh;
    color: white;
    font-size: 0.9vw;
    display: grid;
    grid-row-start: 2;
    align-self: flex-start;
}
.contenido-usuarios{
    display: grid;
    height: 16.5vh;
    width: 10vw;
    justify-items: center;
    grid-template-rows: 82% 18%;
}
.contenido-usuarios-lista{
    margin: 6vh 2vw;
    width: 68vw;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 15px;
    row-gap: 2vh;
    justify-self: center;
    position: fixed;
}
.codigoANDnumero{
    position: fixed;
    display: grid;
    justify-items: center;
    top: 92dvh;
    left: 28.8vw;
}
.codigo-aleatorio{
    font-family: 'Metal Mania';
    font-size: 1.7vw;
    color: white;
}
.numero-codigo{
    font-family: 'Metal Mania';
    font-size: 1.3vw;
    color: white;
}
.color-seleccionado{
    background-color: #c19a67;
}
.ronda-1-2, .ronda-2-4, .ronda-4-6, .tiempo-4, .tiempo-6, .tiempo-8, .modo-libre, .modo-aleatorio {
    margin: 5px 0;
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    font-size: 1vw;
}
.ronda-1-2:hover, .ronda-2-4:hover, .ronda-4-6:hover, .tiempo-4:hover, .tiempo-6:hover, .tiempo-8:hover, .modo-libre:hover,.modo-aleatorio:hover {
    background-color: #c19a67;
}

.titulo-jugadores{
    position: fixed;
    display: grid;
    justify-items: center;
    font-family: 'Metal Mania';
    color: white;
    font-size: 2.5vw;
    grid-column-start: 2;
    justify-self: center;
    margin: -7vh 26.5vw;
}
#modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalidad{
    height: 18vh;
    display: grid;
    grid-template-rows: 6vh 10vh;
}
.opciones-modalidad{
    display: grid;
    grid-row-start: 2;
    gap: 0;
    margin: 0;
}
.rondas, .tiempo, .modalidad{
    display: grid;
    justify-items: center;
}
.contenido-configurar{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2,1fr); 
    margin-top: 15dvh;
    row-gap: 20px;
}
.titulo-configurar{
    position: fixed;
    font-family: 'Metal Mania';
    font-size: 2.5vw;
    color: white;
    left: 65dvw;
}
.imgUsuariounirse{
    width: 7vw;
}
.contenidoGeneral-configuraciones{
    display: grid;
    height: 100dvh;
    grid-template-rows: 10% repeat(4, 1fr);
}
#iniciar{
    position: fixed;
    display: grid;
    justify-self: center;
    grid-row-start: 4;
    color: white;
    background-color: #3e301d;
    border: 1px solid #5f4a2c;
    top: 93vh;
}
.ocultar-moda{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.x{
    background-color: red;
    width: 20px;
    text-align: center;
    margin-top: -20.5px;
    border: 1px solid salmon;
}
.button-crear{
    background-color: transparent;
    border: none;
}

.button-unirse{
    background-color: transparent;
    border: none;
}
.chat {
    position: fixed;
    height: 100dvh;
    margin: 31vh 2vh;
}

.chatContenido {
    position: relative;
    height: 45%;
    width: 23vw;
    border: 3px solid #c19a67;
    background-color: rgba(158, 136, 82, 0.4); 
    margin-top: 10vh;
    padding: 10px; 
    border-radius: 10px;
    overflow: hidden;
}

.nombreChat {
    display: grid;
    font-family: 'Metal Mania';
    font-size: 2.5vw;
    color: white;
    justify-items: center;
    width: 100%;
}

.escribir {
    position: absolute; 
    bottom: 10px; 
    left: 0;
    right: 0; 
    height: 40vh;
}

.escribir input {
    width: 19.5vw;
    background-color: #3e301d; 
    border: none; 
    padding: 0.3vw; 
    box-sizing: border-box; 
    opacity: 1; 
    margin: 2px 4px;
    border-radius: 10px;
    border: 3px solid #392a16;
    color: white;
    font-size: 1vw;
}
.enviarUnirse{
    padding: 0.3vw; 
    background-color: #c19a67;
    border: 1px solid #9e8852;
    border-radius: 10px;
    width: 3.5vw;
    cursor: pointer;
    font-size: 1vw;

}
.enviarUnirse:hover{
    background-color: #9e8852;
}
.messages {
    width: 100%;
    height: 36dvh;
    cursor: grab; /* Cambia el cursor cuando el mouse está sobre el contenedor */
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 1vw;
    box-sizing: border-box;
    text-align: end;
    overflow: auto; /* Permite el desplazamiento del contenido */
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.messages.active {
    cursor: grabbing; /* Cambia el cursor mientras arrastras */
}

.messages p {
    margin: 5px 0;
}

.messages::-webkit-scrollbar {
    display: none; /* Oculta las barras de desplazamiento en navegadores basados en WebKit */
}

.messages {
    -ms-overflow-style: none; /* Oculta las barras en IE y Edge */
    scrollbar-width: none; /* Oculta las barras en Firefox */
}
.usuario{
    text-align: right; /* Alineación a la derecha */
    width: 100%;
    font-size: 1.2vw;
    margin-top: 1dvh;
}
.contenidoUsuario {
    width: 11vw; /* Puedes aumentar este ancho o usar un valor dinámico */
    word-break: break-word; /* Para cortar palabras largas */
    text-align: right;
    margin-left: 12.5vw;
    font-size: 0.9vw;
}
.contenidoCliente {
    width: 11vw; /* Puedes aumentar este ancho o usar un valor dinámico */
    word-break: break-word; /* Para cortar palabras largas */
    text-align: start;
    font-size: 0.9vw;
}

.cliente{
    font-size: 1.2vw;
    text-align: start;
    margin-top: 1dvh;
}
#countdownModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}
#countdownNumber {
    color: antiquewhite;
    font-size: 10vw;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s;
}
#countdownNumber.animate {
    animation: pulse 0.5s;
}
#countdownNumber.final {
    font-size: 5vw;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
/* Finalizo crear sala*/
/*mediaqueries crear sala*/
@media(max-width: 399px){
    .titulo-jugadores{
        font-size: 20px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        font-size: 20px;
        display: grid;
        width: 100%;
        left: 60dvw;
    }
    .contenido-usuarios-lista{
        grid-template-columns: repeat(3, 40px);
        margin-top: 0;
        margin-left: 20px;
        width: 120px;
    }
    .contenido-usuarios{
        height: 50px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 40px;
    }
    .username-multi{
        font-size: 9px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 50dvw; 
    }
    .contenido-configurar{
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 9dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 25px;
        width: 80px;
        font-size: 9px;
    } 
    .ronda-1-2, .ronda-2-4, .ronda-4-6, .tiempo-4, .tiempo-6, .tiempo-8, .modo-libre, .modo-aleatorio {
        height: 23.4px;
        width: 78.4px;  
        font-size: 8px;
    }
    .modalidad{
        grid-template-rows: 25px 50px;
        margin: 0;
    }
    .modo-aleatorio{
        margin: 0;
    }
    #modalidad-deportes, #modalidad-musica, #modalidad-cultura, #modalidad-ropa, #modalidad-animales, #modalidad-comida{
        margin: 5px 0px;
    }
    .titulo-expulsar{
        top: 38dvh;
        height: 13px;
        width: 40px;
        font-size: 10px;
        left: 20vw;
        z-index: 100;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .escribir{
        top: 3.5dvh;
    }
    .chat{
        display: grid;
        margin: 25dvh 2dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 220px;
        height: 250px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .codigoANDnumero{
        left: 18vw;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .x{
        height: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5dvh;
    }
    .messages{
        height: 213.5px;
    }
    .usuario, .cliente{
        font-size: 12px;
        margin-top: 5px;
    }
    .contenidoUsuario{
        font-size: 10px;
        width: 50%;
        margin-left: 115px;
    }
    .contenidoCliente{
        font-size: 10px;
        width: 50%;
    }
    .logo{
        width: 180px;
        left: 28%;
        top: 10%;
    }
    .campos{
        position: fixed;
        left: 50px;
        top: 37%;
    }
    .img-multijugador{
        width: 280px;
    }
    .crear{
        margin-left: -10px;
    }
    .titulo-crear{
        width: 200px;
        margin-left: 35px;
    }
    .titulo-unirse{
        width: 220px;
        margin-left: 27px;
    }
    .codigo-ingreso{
        width: 30px;
        border-radius: 0;
    }
    .lineas-codigo{
        width: 300px;
        position: fixed;
        bottom: 60dvh;
        left: 30px;
        column-gap: 5px;
    }
    .titulo-mensaje{
        position: fixed;
        font-size: 19px;
        width: 240px;
        bottom: 50dvh;
        left: 18vw;
    }
    .titulo-mensaje-2{
        position: fixed;
        font-size: 13px;
        width: 240px;
        bottom: 51dvh;
        left: 28vw;
    }
    .boton{
        display: flex;
        width: 180px;
        height: 25px;
        align-items: center;
        justify-content: center;
    }
}
@media(min-width: 400px) and (max-width: 550px) and (min-height: 740px){
    .titulo-jugadores{
        font-size: 25px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        font-size: 25px;
        display: grid;
        width: 100%;
        left: 55dvw;
    }
    .contenido-usuarios-lista{
        grid-template-columns: repeat(3, 45px);
        margin-top: 0;
        margin-left: 30px;
        width: 130px;
    }
    .contenido-usuarios{
        height: 55px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 50px;
    }
    .username-multi{
        font-size: 9px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 50dvw; 
    }
    .contenido-configurar{
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 8.1dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 25px;
        width: 80px;
        font-size: 9px;
    } 
    .ronda-1-2, .ronda-2-4, .ronda-4-6, .tiempo-4, .tiempo-6, .tiempo-8, .modo-libre, .modo-aleatorio {
        height: 23.4px;
        width: 78.4px;  
        font-size: 8px;
    }
    .modalidad{
        grid-template-rows: 25px 50px;
        margin: 0;
    }
    .modo-aleatorio{
        margin: 0;
    }
    #modalidad-deportes, #modalidad-musica, #modalidad-cultura, #modalidad-ropa, #modalidad-animales, #modalidad-comida{
        margin: 5px 0px;
    }
    .titulo-expulsar{
        top: 32dvh;
        height: 13px;
        width: 40px;
        font-size: 10px;
        left: 20vw;
        z-index: 100;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .chat{
        display: grid;
        margin: 20dvh 2dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 240px;
        height: 400px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .codigoANDnumero{
        left: 18vw;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .x{
        height: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5dvh;
    }
}
@media(min-width: 700px) and (max-width: 1000px) and (min-height: 740px){
    .titulo-jugadores{
        font-size: 35px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        font-size: 35px;
        display: grid;
        width: 100%;
        left: 60dvw;
    }
    .contenido-usuarioMover{
        grid-template-columns: repeat(3, 90px);
        margin-top: 0;
        margin-left: 45px;
    }
    .contenido-usuarios{
        height: 90px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 80px;
    }
    .username-multi{
        font-size: 17px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 55dvw; 
    }
    .contenido-configurar{
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 8.1dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 35px;
        width: 140px;
        font-size: 16px;
    } 
    .ronda-1-2, .ronda-2-4, .ronda-4-6, .tiempo-4, .tiempo-6, .tiempo-8, .modo-libre, .modo-aleatorio {
        height: 33.4px;
        width: 138.4px;  
        font-size: 15px;
    }
    .modalidad{
        grid-template-rows: 25px 70px;
        margin: 0;
    }
    .modo-libre{
        margin-top: 18px;
    }
    #modalidad-deportes, #modalidad-musica, #modalidad-cultura, #modalidad-ropa, #modalidad-animales, #modalidad-comida{
        margin: 5px 0px;
    }
    .titulo-expulsar{
        top: 40dvh;
        height: 20px;
        width: 40px;
        font-size: 10px;
        left: 20vw;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .chat{
        display: grid;
        margin: 28dvh 33dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 240px;
        height: 400px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .codigoANDnumero{
        left: 18vw;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .x{
        height: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5dvh;
    }
}
/* Finalizo mediaqueries crear sala*/

@media(min-width:401px) and (max-width: 500px){
    .logo{
        width: 210px;
        left: 26%;
        top: 10%;
    }
    .campos{
        position: fixed;
        left: 68px;
        top: 37%;
    }
    .img-multijugador{
        width: 300px;
    }
    .crear{
        margin-left: -5px;
    }
    .titulo-crear{
        width: 220px;
        margin-left: 35px;
    }
    .titulo-unirse{
        width: 240px;
        margin-left: 27px;
    }
    .codigo-ingreso{
        width: 50px;
        border-radius: 0;
    }
    .lineas-codigo{
        width: 350px;
        position: fixed;
        bottom: 60dvh;
        left: 30px;
        column-gap: 5px;
    }
    .titulo-mensaje{
        position: fixed;
        font-size: 23px;
        width: 280px;
        bottom: 51dvh;
        left: 17vw;
    }
    .titulo-mensaje-2{
        position: fixed;
        font-size: 16px;
        width: 240px;
        bottom: 52dvh;
        left: 26vw;
    }
    .boton{
        position: fixed;
        display: flex;
        width: 230px;
        height: 30px;
        align-items: center;
        justify-content: center;
        bottom: 40dvh;
    }
    .escribir{
        margin-bottom: 25px;
    }
    .messages{
        height: 40dvh;
    }
    .usuario, .cliente{
        font-size: 12px;
        margin-top: 5px;
    }
    .contenidoUsuario{
        font-size: 10px;
        width: 50%;
        margin-left: 125px;
    }
    .contenidoCliente{
        font-size: 10px;
        width: 50%;
    }
}
@media(min-width:600px) and (max-width: 940px){
    .logo{
        width: 280px;
        left: 32%;
        top: 10%;
    }
    .campos{
        position: fixed;
        left: 23.5%;
        top: 37%;
    }
    .img-multijugador{
        width: 400px;
    }
    .crear{
        margin-left: -5px;
    }
    .titulo-crear{
        width: 300px;
        margin-left: 45px;
        font-size: 58px;
    }
    .titulo-unirse{
        width: 300px;
        margin-left: 42px;
    }
    .codigo-ingreso{
        width: 70px;
    }
    .lineas-codigo{
        width: 510px;
        position: fixed;
        margin-left: 20px;
        bottom: 60dvh;
    }
    .titulo-mensaje{
        position: fixed;
        font-size: 33px;
        width: 550px;
        bottom: 50dvh;
        left: 14vw;
    }
    .titulo-mensaje-2{
        position: fixed;
        font-size: 22px;
        width: 550px;
        bottom: 51dvh;
        left: 31vw;
    }
    .boton{
        position: fixed;
        display: flex;
        width: 330px;
        height: 33px;
        align-items: center;
        justify-content: center;
        bottom: 40dvh;
    }
}
   
