* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
font-family: 'Canterbury';
src: url('/css/fonts/Canterbury.ttf') format('truetype');
}   

.contenedor {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    height: 410px;
    width: 380px;
    border-radius: 50px;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before {
    content: "";
    position: absolute;
    height: 480px;
    width: 480px;
    background-image: conic-gradient(#8B5E3C 20deg, transparent 120deg);
    animation: rotar 1.5s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.tarjeta::after {
    content: "";
    position: absolute;
    height: 400px;
    width: 370px;
    background-color: #4C3A28;
    border-radius: 50px;
    box-shadow: inset 16px 14px 20px #35281e;
}
.sajuro{
    z-index: 100;
    background-color: transparent;
    color: #D4AF37;
    font-family: 'Canterbury';
    font-size: 55px;
    bottom: 40px;
}
.conten{
    width: 100%;
    z-index: 101;
    background-color: transparent;
    text-align: center;
}
.conten-sesion, .input-container, label{
    background-color: transparent;
    color: white;
}
.conten-sesion{
    margin-top: 100px;
}
input[type="text"], input[type="password"], input[type="email"] {
    font-family: "Ovo", serif;
    background-color: transparent;
    border-top: 2px ;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 8px 0;
    color: white;
}
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}
.input-container label {
    font-family: "Ovo", serif;
    position: absolute;
    left: 60px;
    top: 55%;
    transform: translateY(-50%);
    color: #E5E5E5;
    font-size: 20px;
    pointer-events: none;
    transition: 0.5s;
}
.input-container input {
    border-bottom: 2px solid white;
    width: 70%;
    height: 30px;
}   
input:focus ~ label,
input:valid ~ label {
    top: -2px;
    font-size: 16px;
    color: white;
}
.user, .pass{
    position: absolute;
    width: 100%;
    background-color: transparent;
    left: 41%;
    top: 28%;
}
.login-button {
    font-family: "Ovo", serif;
    width: 50%;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 20px;
    background-color: transparent; 
}

.olvidar{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 85%;
    bottom: 27%;
}
.olvide{
    font-family: "Ovo", serif;
    border-bottom: 2px solid white;
    font-size: 13px;
}
.logo{
    border-radius: 30px;
}
.email{
    width: 20px;
    left: 88.5%;
}
.logo-login{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 64%;
}