*{
    font-family: 'Metal Mania';
}
body {
    height: 100vh;
    background-image: url('../../css/img/nuevo-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
input {
    border: none;
    outline: none;
    background-color: transparent;
}
@font-face {
    font-family: 'Metal Mania';
    src: url('../../css/fonts/MetalMania-Regular.ttf') format('truetype');
}
.contenedorPerfilGen{
    width: 35vw;
    height: 81vh;
    background-image: url('../img/desPerfil.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 10%;
    position: fixed;
}
.contenedorInformacionPerfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 55% 10%;
    width: 35vw;
    height: 70vh;
    min-width: 183px;
    min-height: 477px;
    box-sizing: border-box;
    position: fixed;
    top: 20%;
}
.contenedorAvataresgeneral{
    width: 60vw;
    height: 80vh;
    background-image: url('../img/desavatar.png');
    background-repeat: no-repeat;
    background-size: 60vw 80vh;
    left: 35%;
    top: 9%;
    position: fixed;
}
.contenedorAvatares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 53vw;
    height: 70vh;
    padding: 10px;
    position: fixed;
    left: 39%;
    top: 19%;
}
.contenidoAvatar1{
    width: 6.5vw;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.avatarPerfil{
    position: fixed;
    width: 14vw;
    height: 14vw;
    margin-left: 9%;
    margin-top: -2%;
}
.ContenidoFilaSegundoPerfil {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 45%;
    box-sizing: border-box;
    width: 24vw;
    margin-top: 2%;
}

.NivelPerfil{
    color: #241b19;
    font-size: 1.5vw;
    height: 2vh;
    display: grid;
    grid-row-start: 1;
}
#nivel{
    color: white;
    font-size: 1.2vw;
    opacity: 70%;
}
 
.contenedorGeneralPerfil2Movil {
    display: none;
}
@media screen and (min-width: 711px) {
    .contenedorGeneralPerfil {
        display: block;
    }
}
input {
    border: none;
    outline: none;
    background-color: transparent;
}
.estadoCuentaPerfil{
    font-size: 1.5vw;
    color: #241b19;
    height: 2vh;
    display: grid;
    grid-row-start: 2;
    margin-top: -2%;    
}
.ConfiguracionesPerfil{
    font-size: 1.5vw;
    color: #241b19;
    height: 2vh; 
    display: grid;
    grid-row-start: 3; 
    margin-top: -4%;
    margin-left: -0.2%;    
}
.ConfiguracionesPerfil h4{
    color: #241b19;
    border: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.aConfi{
    display: grid;
    height: 4vh;
    width: 10vw;
    position: absolute;
    z-index: 1000;
    margin-top: 5%;
}
#InvitarPerfil{
    font-size: 1.5vw;
    color: #241b19;
    height: 2vh; 
    display: grid;
    grid-row-start: 4; 
    margin-top: -6%;  
}
.username{
    font-size: 1.5vw;
    margin-top: 12%;
    position: fixed;
    left: 14%;
    color: #241b19;
}
.imgAtri{
    position: fixed;
    opacity: 80%;
    width: 11vw;
    height: 11.8vw;
    margin-top: 46vh;
    margin-left: 4%;
}
.funcionEstadoEncendido{
    width: 1.4vw;
    position: fixed;
    margin-left: 5%;
    margin-top: 1%;
}
.funcionEstadoapagado{
    width: 1.2vw;
    position: fixed;
    margin-top: 2%;
    margin-left: 5%;
}
.imgesferas{
    width: 3vw;
}
.ContenedorEsferasPerfil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    margin-top: 51vh;
    margin-left: 5.2vw;
}
.contedorCantidad{
    display: grid;
    width: 11vw;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6vw;
    color: #140f0e;
    font-size: 0.9vw;
    position: fixed;
    bottom: 16vh;
}
.alertaAvatar{
    position: fixed;
    color: #ffffff;
    font-size: 1.5vw;
    left: 50%;
    bottom: 5%;
}
.flechaAtras{
    width: 5vw;
}
.botton{
    background-color: transparent;
    text-decoration: none;
    border: none;
    position: fixed;
}
@media(max-width: 500px){
    .contenedorPerfilGen{
        width: 270px;
        height: 280px;
        background-size: 270px 280px;
        top: 3%;
        left: 16dvw;
    }
    .contenedorAvataresgeneral{
        width: 330px;
        height: 280px;
        background-size: 330px 280px;
        top: 50dvh;
        left: 20px;
    }
    .contenedorAvatares{
        width: 300px;
        height: 280px;
        top: 54dvh;
        left: 10%;
    }
    .contenidoAvatar1{
        width: 40px;
    }
    .avatarPerfil{
        width: 110px;
        height: auto;
        top: 7%;
        margin-left: 19%;
    }
    .ContenidoFilaSegundoPerfil{
        width: 0px;
        height: 0px;
    }
    .contenedorInformacionPerfil{
        width: 0;
    }
    .NivelPerfil{
        font-size: 13px;
        position: fixed;
        top: 0;
        margin-top: 23dvh;
        margin-left: 10%;
    }
    .username{
        font-size: 13px;
        margin-left: 30%;
        top: 16dvh;
    }
    #nivel{
        font-size: 8px;
        position: fixed;
        margin: 4.5px 2px;
    }
    .estadoCuentaPerfil{
        font-size: 13px;
        position: fixed;
        margin-left: 10%;
        top: 26.8dvh;
    }
    .funcionEstadoEncendido{
        width: 8px;
    }
    .funcionEstadoapagado{
        width: 7px;
    }
    .funcionEstadoapagado, .funcionEstadoEncendido{
        position: fixed;
        top: 27.3dvh;
        margin-left: 13vw;
    }
    .ConfiguracionesPerfil{
        font-size: 13px;
        position: fixed;
        top: 30.5dvh;
        margin-left: 10%;
        width: 0px;
        z-index: 100;
    }
    .aConfi{
        height: 10px;
        width: 80px;
        margin-top: 20px;
        z-index: 100;
    }
    #InvitarPerfil{
        font-size: 13px;
        position: fixed;
        top: 34.2dvh;
        margin-left: 10.2%;
        height: 10px;
        width: 80px;
        z-index: 0;
    }
    .imgAtri{
        position: fixed;
        width: 80px;
        height: 80px;
        top: 25.5dvh;
        margin: 0 25vw;
        z-index: 0;
    }
    .ContenedorEsferasPerfil{
        position: fixed;
        margin-top: 0;
        top: 36dvh;
        width: 20%;
        margin-left: 11%;
    }
    .imgesferas{
        width: 18px;
        z-index: 1;
    }
    .contedorCantidad{
        margin-top: 0;
        top: 37dvh;
        font-size: 7px;
        width: 20%;
        margin-left: 12.5%;
        height: 40px;
    }
    .flechaAtras{
        width: 45px;
    }
}

