body {
    height: 100vh;
    background-image: url('DALL·E-2024-09-19-16.52.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.RankingJugadores {
    display: flex;    
}

.cuadroRanking {
    width: 180px;
    height: 50px;
    max-width: 270px;
    background-image:
        linear-gradient(rgba(128, 0, 255, 0.70), rgb(34, 184, 1, 0.70)),
        linear-gradient(rgb(0, 173, 29, 0.70), rgb(157, 0, 255, 0.70));
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
.cuadroRanking h1 {
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-family: "Ovo", serif;
    font-weight: normal;
    text-align: center;
}
.contenido-ranking{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.iconoJugadores {
    text-align: center;
}
.iconoJugadoresImg {
    width: 15px;
    height: 15px;
    margin-top: 8px;
}
.logoJugadores {
    width: 100vw;
    display: flex;
    justify-content: end;
}
.logoJugadoresImg {
    width: 40px;
    height: 40px;
}
.generalJugadores {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cuadrosJugadores1 {
    text-align: center;
    margin: 0 auto;
}
.cuadrosJugadores2 {
    text-align: center;
    margin: 0 auto;
}
.imgSolitarioJugadores {
    width: 60%;
    margin: 0 auto;  
    padding-right: 35px;
    cursor: pointer;
}
.imgMultijugadorJugadores {
    width: 60%;
    margin: 0 auto;  
    padding: 5px;
    cursor: pointer;
}
.menuJugadores {
    height: 80vh;
    display: flex;
    align-items: end;
    width: 100vw;
    justify-content: center;
}    
.solicitudesJugadores {
    margin: auto;
    place-self: center;
}
.casaJugadores {
    margin: auto;
    place-self: center;
}
.configuracionesJugadores {
    margin: auto;
    place-self: center;
}
.solicitudesJugadores:hover {
    transform: translate(0px, -40px);
    transition: all 0.2s;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}
.solicitudesJugadores:hover .iconJugadores {
    fill: blueviolet;
    margin-top: 5px;
}
.casaJugadores:hover {
    transform: translate(0px, -40px);
    transition: all 0.3s;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}
.casaJugadores:hover .iconJugadores {
    fill: blueviolet;
    margin-top: 5px;
}
.efectoClickIconsJugadores {
    transform: translate(0px, -40px);
    border-radius: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}
.configuracionesJugadores:hover {
    transform: translate(0px, -40px);
    transition: all 0.3s;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}
.configuracionesJugadores:hover .iconJugadores {
    fill: blueviolet;
    margin-top: 5px;
}
.iconJugadores {
    width: 25px;
    height: 20px;
    border-radius: 100%;
    padding: 2px;
}


.contenido{
    background-image:
        linear-gradient(rgb(0, 247, 255), rgb(34, 184, 1)),
        linear-gradient(rgb(0, 173, 29), rgb(0, 242, 255));
    border-radius: 100px;
    width: 40%;
    height: 55px;

}