*{
    margin: 0;
    font-family: 'Metal Mania';
}
@font-face {
    font-family: 'Metal Mania';
    src: url('../../../css/fonts/MetalMania-Regular.ttf') format('truetype');
}
html{
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */

}

/* Crear sala*/
.contenidoGeneral-crearSala{
    display: grid;
    width: 100vw;
    grid-template-columns: 65% 35%;
    height: 100vh;
    overflow: hidden;
}
.contenidoGeneral-usuarios{
    margin-top: 7vh;
    overflow: hidden;
}
.titulo-jugadores{
    position: fixed;
    display: grid;
    justify-items: center;
    font-family: 'Metal Mania';
    color: white;
    font-size: 2.5vw;
    grid-column-start: 2;
    justify-self: center;
    margin: -7vh 26.5vw;
}
.imagen-usuario{
    height: 100%;
    display: grid;
    align-items: end;
}
.imgUsuariounirse{
    width: 7vw;
}
.username-multi{
    font-family: 'Metal Mania';
    color: white;
    font-size: 0.9vw;
    display: grid;
    grid-row-start: 2;    margin-top: 2%; /* Relativo al contenedor */
}
.contenido-usuarios{
    display: grid;
    height: 16.5vh;
    width: 10vw;
    justify-items: center;
    grid-template-rows: 82% 18%;
}
.contenido-usuarios-lista{
    margin: 6vh 2vw;
    width: 68vw;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 15px;
    row-gap: 2vh;
    justify-self: center;
    position: fixed;
}
.contenido-usuarioMover{
    margin: 6vh 2vw;
    width: 68vw;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    column-gap: 15px;
    row-gap: 2vh;
    justify-self: center;
    position: fixed;
}
.codigoANDnumero{
    position: fixed;
    display: grid;
    justify-items: center;
    top: 92vh;
    left: 28.8vw;
}
.codigo-aleatorio{
    font-family: 'Metal Mania';
    font-size: 25px;
    color: white;
}
.numero-codigo{
    font-family: 'Metal Mania';
    font-size: 18px;
    color: white;
}
.color-seleccionado{
    background-color: #c19a67;
}
.ronda-tomada, .tiempo-tomado, .modo-tomado{
    margin: 5px 0;
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    font-size: 1vw;
}
.ronda-1-2:hover, .ronda-2-4:hover, .ronda-4-6:hover, .tiempo-4:hover, .tiempo-6:hover, .tiempo-8:hover, .modo-libre:hover,.modo-aleatorio:hover {
    background-color: #c19a67;
}

.titulo-configurar{
    display: grid;
    font-family: 'Metal Mania';
    font-size: 2.5vw;
    color: white;
    justify-items: center;
    width: 100%;
    margin-left: 50px;

}
#modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{
    font-family: 'Metal Mania';
    background-color: #9e8852;
    border: 1px solid #c19a67;
    height: 6vh;
    width: 18.3vw;
    color: wheat;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rondas, .tiempo, .modalidad{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}
.contenido-configurar{
    display: grid;
    grid-template-rows: repeat(3,1fr); 
    margin-top: 6vh;
    gap: 30px;
    margin-left: 100px;
}
.contenidoGeneral-configuraciones{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% repeat(4, 1fr);
}
#iniciar{
    position: fixed;
    display: grid;
    justify-self: center;
    grid-row-start: 4;
    color: white;
    background-color: #3e301d;
    border: 1px solid #5f4a2c;
    top: 93vh;
}
.chat {
    position: fixed;
    margin-left: 51.5%;
    height: 100%;
    top: 0.7vh;
}

.chatContenido {
    position: relative;
    height: 70%;
    width: 20vw;
    border: 3px solid #c19a67;
    background-color: rgba(158, 136, 82, 0.4); 
    margin-top: 10vh;
    padding: 10px; 
    border-radius: 10px;
}

.nombreChat {
    display: grid;
    font-family: 'Metal Mania';
    font-size: 2.5vw;
    color: white;
    justify-items: center;
    width: 100%;
}

.escribir {
    position: absolute; 
    bottom: 10px; 
    left: 0;
    right: 0; 
}

.escribir input {
    width: 78%;
    background-color: #3e301d; 
    border: none; 
    padding: 5px; 
    box-sizing: border-box; 
    opacity: 1; 
    margin: 2px 4px;
    border-radius: 10px;
    border: 3px solid #392a16;
    color: white;
}
.enviarUnirse{
    padding: 5px; 
    background-color: #c19a67;
    border: 1px solid #9e8852;
    border-radius: 10px;
    width: 15%;
    cursor: pointer;
}
.enviarUnirse:hover{
    background-color: #9e8852;
}
.messages {
    width: 100%;
    height: 60dvh;
    cursor: grab; /* Cambia el cursor cuando el mouse está sobre el contenedor */
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 1vw;
    box-sizing: border-box;
    text-align: end;
    overflow: auto; /* Permite el desplazamiento del contenido */
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.messages.active {
    cursor: grabbing; /* Cambia el cursor mientras arrastras */
}

.messages p {
    margin: 5px 0;
}

.messages::-webkit-scrollbar {
    display: none; /* Oculta las barras de desplazamiento en navegadores basados en WebKit */
}

.messages {
    -ms-overflow-style: none; /* Oculta las barras en IE y Edge */
    scrollbar-width: none; /* Oculta las barras en Firefox */
}
.usuario{
    text-align: right; /* Alineación a la derecha */
    width: 100%;
    font-size: 1.2vw;
    margin-top: 1dvh;
}
.contenidoUsuario {
    width: 11vw; /* Puedes aumentar este ancho o usar un valor dinámico */
    word-break: break-word; /* Para cortar palabras largas */
    text-align: right;
    margin-left: 9.5vw;
    font-size: 0.9vw;
}
.contenidoCliente {
    width: 11vw; /* Puedes aumentar este ancho o usar un valor dinámico */
    word-break: break-word; /* Para cortar palabras largas */
    text-align: start;
    font-size: 0.9vw;
}

.cliente{
    font-size: 1.2vw;
    text-align: start;
    margin-top: 1dvh;
}
#countdownModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}
#countdownNumber {
    color: antiquewhite;
    font-size: 10vw;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s;
}
#countdownNumber.animate {
    animation: pulse 0.5s;
}
#countdownNumber.final {
    font-size: 5vw;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@media(max-width: 399px){
    .titulo-jugadores{
        font-size: 20px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        position: fixed;
        font-size: 20px;
        display: grid;
        width: 100%;
        left: 10dvw;
    }
    .contenido-usuarioMover{
        grid-template-columns: repeat(3, 40px);
        margin-top: 0;
        margin-left: 20px;
        width: 120px;
    }
    .contenido-usuarios-lista{
        top: 2dvh;
        grid-template-columns: repeat(4, 10%);
    }
    .contenido-usuarios{
        height: 50px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 40px;
    }
    .username-multi{
        font-size: 9px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 23dvw; 
    }
    .contenido-configurar{
        grid-template-columns: repeat(2,1fr); 
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 9dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 25px;
        width: 80px;
        font-size: 9px;
    } 
    .ronda-tomada,.tiempo-tomado,.modo-tomado{
        height: 23.4px;
        width: 78.4px;  
        font-size: 8px;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .chat{
        display: grid;
        margin: 25dvh 2dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 220px;
        height: 250px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .codigoANDnumero{
        left: 18vw;
        top: 92dvh;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .messages{
        height: 32dvh;
    }
    .usuario, .cliente{
        font-size: 12px;
        margin-top: 5px;
    }
    .contenidoUsuario{
        font-size: 10px;
        width: 50%;
        margin-left: 115px;
    }
    .contenidoCliente{
        font-size: 10px;
        width: 50%;
    }
/* Finalizo crear sala*/

}
@media(min-width: 400px) and (max-width: 550px) and (min-height: 740px){
    .titulo-jugadores{
        font-size: 25px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        position: fixed;
        font-size: 20px;
        display: grid;
        width: 100%;
        left: 13dvw;
    }
    .contenido-usuarioMover{
        grid-template-columns: repeat(3, 45px);
        margin-top: 0;
        margin-left: 30px;
        width: 130px;
    }
    .contenido-usuarios-lista{
        top: 2dvh;
        grid-template-columns: repeat(4, 12%);
    }
    .contenido-usuarios{
        height: 55px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 50px;
    }
    .username-multi{
        font-size: 9px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 29dvw; 
    }
    .contenido-configurar{
        grid-template-columns: repeat(2,1fr); 
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 8dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 25px;
        width: 80px;
        font-size: 9px;
    } 
    .ronda-tomada,.tiempo-tomado,.modo-tomado{
        height: 23.4px;
        width: 78.4px;  
        font-size: 8px;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .chat{
        display: grid;
        margin: 20dvh 2dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 240px;
        height: 400px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .codigoANDnumero{
        left: 18vw;
        top: 92dvh;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .x{
        height: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5dvh;
    }
    .messages{
        height: 40dvh;
    }
    .usuario, .cliente{
        font-size: 12px;
        margin-top: 5px;
    }
    .contenidoUsuario{
        font-size: 10px;
        width: 50%;
        margin-left: 125px;
    }
    .contenidoCliente{
        font-size: 10px;
        width: 50%;
    }
}
@media(min-width: 700px) and (max-width: 1000px) and (min-height: 740px){
    .titulo-jugadores{
        font-size: 35px;
        display: grid;
        justify-items: center;
        width: 50%;
        margin-left: 0;
    }
    .titulo-configurar{
        position: fixed;
        font-size: 35px;
        display: grid;
        width: 100%;
        left: 20dvw;
    }
    .contenido-usuarioMover{
        grid-template-columns: repeat(3, 90px);
        margin-top: 0;
        margin-left: 45px;
    }
    .contenido-usuarios{
        height: 90px;
    }
    .imagen-usuario{
        height: 50px;
        display: grid;
        align-items: center;
    }
    .imgUsuariounirse{
        width: 80px;
    }
    .username-multi{
        font-size: 17px;
    }
    .contenidoGeneral-configuraciones{
        position: fixed;
        grid-template-rows: 8.8% repeat(4, 1fr);
        height: 10dvh;
        margin: 0dvh 55dvw; 
    }
    .contenido-configurar{
        row-gap: 1dvh;
        column-gap: 3dvh;
        margin-top: 8.1dvh;
    }
    #modo-juego, #tiempo-juego, #modalidad-juego, #iniciar{  
        height: 35px;
        width: 140px;
        font-size: 16px;
    } 
    .ronda-tomada,.tiempo-tomado,.modo-tomado{
        height: 33.4px;
        width: 138.4px;  
        font-size: 15px;
    }
    #iniciar{
        top: 93dvh;
        width: 150px;
        font-size: 16px;
    }
    .chat{
        display: grid;
        margin: 28dvh 33dvw;
        justify-self: center;
        z-index: 0;
        height: 200px;
    }
    .chatContenido{
        width: 240px;
        height: 400px;
    }
    .nombreChat{
        font-size: 21px;
        margin-top: -12px;
    }
    .escribir input{
        width: 72%;
        justify-content: center;
        font-size: 16px;
    }
    .contenidoGeneral-usuarios{
        height: 10px;
    }
    .enviarUnirse{
        font-size: 15px;
        width: 20%;
        color: black;
    }
    .codigoANDnumero{
        left: 18vw;
    }
    .codigo-aleatorio{
        font-size: 16px;
    }
    .numero-codigo{
        font-size: 10px;
    }
    .x{
        height: 10px;
        width: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5dvh;
    }
}