@font-face {
    font-family: 'Metal Mania';
    src: url('../../../sajuronoche/css/fonts/MetalMania-Regular.ttf') format('truetype');
}
html{
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */

}
.contenidoGeneral-juegoDeportes{
    display: grid;
    width: 100vw;
    grid-template-columns: 28% 46% 28%;
    height: 95vh;
}
.contenidoCampo{
    display: grid;
    grid-column-start: 2;
    justify-content: center;
    align-items: center;
    margin-right: 3.5vw;
    grid-template-rows: 78% 11% 11%;
    height: 95vh;
    margin-top: 30px;
}
.porteros, .defensas, .mediocampo, .delantero{
    background-color:#4e3d24c0 ;
    width: 350px;
    height: 280px;
    border: 1px solid rgba(245, 222, 179, 0.566);
    text-align: center;
}
.derecho, .izquierda{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}
.porteros{
    display: grid;
    align-self: center;
    margin-left: 1vw;
}
.defensas{
    display: grid;
    margin-left: 1vw;
}
.mediocampo{
    display: grid;
    align-self: center;
    margin-left: 0.7vw;
}
.delantero{
    display: grid;
}
.titulo-deportes{
    font-family: 'Metal Mania';
    font-size: 30px;
    color: antiquewhite;
}
.tarjetas{
    display: flex;
    justify-content: center;
    width: 30vw;
    gap: 20px;
}
.img-var{
    height: 92px;
  
}
.img-bloqueoVar{
    height: 91px;
}
.img-tamaPortero{
    width: 70px;
}
.jugadores-A, .jugadores-B , .jugadores-C, .jugadores-D{
    display: grid;
    width: 350px;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
    margin-top: -100px;
}

.img-ajustes{
    position: fixed;
    left: 95vw;
    top: 3vh;
}
.jugadoresGeneral{
    height: 40px;
}
.puntos-deportes{
    font-family: 'Metal Mania';
    font-size: 25px;
    color: #faebd7;
    display: grid;
    align-self: start;
    margin-left: 10px;
}
.img-contenido{
    display: grid;
    align-self: flex-end;
    background-image: url('../img/cancha.png');
    width: 680px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 50% 50%;
}
.primerEquipo, .segundoEquipo{
    display: grid;
    grid-template-columns: repeat(6,1fr );

}
.integradoDeportes{
    display: grid;
    grid-template-columns: 360px 360px;
    width: 680px;
    margin-top: 30px;
}
.jugadoresDentro-deportes{
    display: grid;
    background-color: #faebd7;
    width: 100px;
    height: 30px;
    font-family: 'Metal Mania';
    text-align: center;
    border: 1px solid #a2671a;
    justify-self: center;
    margin-top: 20px;
}
.tituloJugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.jugadoresEquipo-A{
    display: grid;
    align-self: center;
    grid-column-start: 1;
    margin-left: 30px;
}
.jugadoresEquipo-B{
    display: grid;
    grid-template-rows: repeat(4, 25%);
    height: 90%;
    grid-column-start: 2;
    align-self: center;
    margin-left: -12px;
}
.jugadoresEquipo-C{
    display: grid;
    grid-template-rows: repeat(4, 25%);
    height: 100%;
    grid-column-start: 3;
}
.jugadoresEquipo-D{
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    height: 100%;
    grid-column-start: 4;
}
.jugadoresEquipo-E{
    display: grid;
    height: 100%;
    grid-column-start: 5;
    align-items: center;
    margin-left: -17px;
}
.colorGeneral-jugador{
    width: 70px;
    display: grid;
    align-self: center;
}
.jugadorSeis{
    display: grid;
    grid-row-start: 2;
    align-self: center;
    margin-bottom: 70px;
}
.jugadorSiete{
    display: grid;
    grid-row-start: 3;
    align-self: center;
    margin-top: 73px;
}
.jugadorOcho{
    display: grid;
    grid-row-start: 1;
    align-self: start;
    margin-top: 60px;
}
.jugadorNueve{
    display: grid;
    grid-row-start: 2;
    align-self: center;
}
.jugadorDiez{
    display: grid;
    grid-row-start: 3;
    align-self: center;
    margin-bottom: 30px;
}
.jugadoresEquipo-2-A{
    display: grid;
    align-self: center;
    margin-left: -70px;
    grid-column-start: 6;  
}
.jugadoresEquipo-2-B{
    display: grid;
    grid-template-rows: repeat(4, 25%);
    height: 90%;
    grid-column-start: 5;
    align-self: center;
    margin-left: -72px;
}
.jugadoresEquipo-2-C{
    display: grid;
    grid-template-rows: repeat(4, 25%);
    height: 100%;
    grid-column-start: 1;
}
.jugadoresEquipo-2-D{
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    height: 100%;
    grid-column-start: 3;
    margin-left: -35px;

}
.jugadoresEquipo-2-E{
    display: grid;
    height: 100%;
    grid-column-start: 2;
    align-items: center;
    margin-left: -35px;
}
.descripciones-jugadores .descripcion {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.descripciones-jugadores .descripcion h3 {
    margin: 0 0 5px 0;
    color: #333;
}

.descripciones-jugadores .descripcion p {
    margin: 0;
    color: #666;
}
