
*{
    margin: 0;
}
.contenido-general{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.contenido-amigos{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: end;
    width: 100vw;
    margin-top: -50vh;
}
.rectangle234{
    background-image: linear-gradient(to top, #1f1811c4 0%, #4C3A28 100%);
    height:350px;
    width: 400px;
    border-radius:50px;
}
.nombre-amigos{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Ovo", serif;
    margin-top: 20px;
}
input[type="text"] {
    font-family: 'Gothic Ultra OT', serif; /* Fuente estilo gótico */
    background-color: transparent;
    border-top: 2px ;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 8px 35px;
    color: white;
    padding: auto;
}
::placeholder{
    color: white;
    left: 30px;
}
.buscar input{
    border: 3px solid white;
    border-radius: 20px;
    height: 30px;
    width: 62%;
}
.input{
    padding-left: 16px;
}
.search-button{
    position: relative;
    background-color: transparent;
    border: none;
    margin: 7px 0px 0px -35px;
    
}
.user{
    color: white;
}
.contenido-sugerencias{
    display: grid;
    margin-top: 10px;
    row-gap: 10px;
}  
.logo-randon{
    display: grid;
    width: 40px;
    justify-self: end;
}
.nombre-suge{
    font-size: 20px;
    display: grid;
    justify-self: center;
    align-self: center;
    font-family: 'Gothic Ultra OT', serif;
    color: #d1c7b7;
}
.logos-suge{
    width: 25px;
}
.ver-suge{
    display: grid;
    grid-column-start: 4;
    justify-self: end;
    align-self: center;
}
.enviar-suge{
    display: grid;
    grid-column-start: 5;
    justify-self: start;
    align-self: center;
    margin-left: 10px;
}
.randon-1{
    display: grid;
    grid-template-columns: 70px 100px 60px 100px;
}

.icono-contenido-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
}
.icono-adjust, .icono-friend{
    color: white;
}
.cuadro-solicitudes{
    display: flex;
    width: 300px;
    height: 250px;
    background-color: black;
    border-radius: 30px;
    z-index: 1000;
    display: none;
}
.contenido-soli{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: -71vh 0px 0px 30%;
}
a{
    cursor: url('../../css/img/cursor.png'), auto;
    color: black;
}

