* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}   
@font-face {
    font-family: 'Metal Mania';
    src: url('../../../sajuronoche/css/fonts/MetalMania-Regular.ttf') format('truetype');
}

html {
    background-color: #4C3A28;
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */
}

.contenido-general-menu {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Cambiado a columna para mejor control del layout */
    align-items: center;
}

.contenido-home-oculto {
    display: none; /* Oculto hasta que se necesite */
}

.contenido-home {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    bottom: 0; /* Alineado al fondo de la pantalla */
    height: 30vh;
    width: 100%;
    cursor: url('../../css/img/cursor.png'), auto;
}
<<<<<<< HEAD

.imagen-css {
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 800px;
}

.friend, .casa, .adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #8b6946;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, #4C3A28 100%);
}

.friend {
    border-radius: 15px 0 0 15px;
}

.casa {
    border-right: 3px solid #8b6946;
}

.adjust {
    border-radius: 0 15px 15px 0;
}

.icono-friend, .icono-home, .icono-adjust {
    color: white;
    width: 50px;
    height: 50px;
}

=======
>>>>>>> rober
.ranking {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 10vh;
}

.icono-ranking {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenido-home-modalidad {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 58vh;
    margin-top: 70px;
}

.solitario, .multijugador, .bienvenido {
    display: grid;
    align-self: center;
}

.content-bienvenido {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 20vh;
    margin-top: -5px;
}

.bienvenido-img {
    width: 400px;
    height: 150px;
}

.titulo-bienvenido, .titulo-user {
    position: fixed;
    color: rgb(143, 102, 68);
    font-family: 'New Rocker';
}

.titulo-bienvenido {
    margin: 37px 146px;
    font-size: 25px;
<<<<<<< HEAD
=======
    font-family: 'Metal Mania';
>>>>>>> rober
}

.titulo-user {
    margin: 60px 165px;
    font-size: 17px;
<<<<<<< HEAD
=======
    font-family: 'Metal Mania';
}
.perfil-logo, .ranking-logo {
>>>>>>> rober
}

.perfil-logo, .ranking-logo {}

.ranking-conte {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100vw;
    position: fixed;
    z-index: 101;
}

<<<<<<< HEAD
.modalidad-juego {
=======
.logo-ranking {
    position: fixed;
    display: grid;
    justify-items: end;
    height: 10px;
    margin: 0px 92vw;
}
.logo-perfi{
    margin: 0px 1.5vw;
}
.modalidad-juego{
>>>>>>> rober
    width: 330px;
}

.campos {
    display: grid;
    position: fixed;
    top: 38vh;
    gap: 0;
}
<<<<<<< HEAD

.titulo-solitario, .titulo-multijugador {
    font-family: 'New Rocker';
    font-weight: bold;
=======
.titulo-solitario{
    font-family: 'Metal Mania';
>>>>>>> rober
    position: fixed;
    color: rgb(52, 42, 34);
}

.titulo-solitario {
    margin: -70px 72px;
    font-size: 30px;
}
<<<<<<< HEAD

.titulo-multijugador {
=======
.titulo-multijugador{
    font-family: 'Metal Mania';
    position: fixed;
>>>>>>> rober
    margin: 30.5px 44px;
    font-size: 30px;
}
<<<<<<< HEAD

.contenido-amigos-activos {
=======
.contenido-amigos-activos{
    position: fixed;
    top: 23vh;
>>>>>>> rober
    display: flex;
    flex-direction: column; /* Asegúrate de que los amigos se apilen verticalmente */
    width: 100%;
    align-items: center; /* Alinea los amigos al centro */
    gap: 10px; /* Espaciado entre amigos */
}


.usuarios {
    display: flex; /* Puedes mantener esto si necesitas que los elementos internos estén alineados horizontalmente */
    justify-content: space-between; /* Espaciado entre los elementos dentro de cada amigo */
    width: 90%; /* Ajustado para no ocupar el 100% */
    padding: 10px;
    border: 1px solid #8b6946;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-usuario-conectado {
    margin-right: 15px;
}

<<<<<<< HEAD
.usuario-conectado {
    font-family: 'New Rocker';
    color: rgb(143, 102, 68);
=======
.usuario-conectado{
    position: fixed;
    margin: -62px 57px;
    font-family: 'Metal Mania';
    transform: rotate(-3deg); /* Rota 45 grados hacia arriba */
>>>>>>> rober
    font-size: 18px;
}

.point-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.point-color-conectados {
    color: black;
    font-size: 11px;
    transform: rotate(-2.5deg);
}

.puntajes, .estado {
    position: relative; /* Posiciona relativamente para evitar problemas con fixed */
    margin: 0;
}

.estado img {
    width: 40px;
    height: 40px;
}

.amigos-titulo {
    position: fixed;
    top: 20vh;
    left: 1vw;
}
<<<<<<< HEAD
=======
.objetos{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.cerrar-sesion{
    position: fixed;
    top: 95vh;
    color: #8b6946;
    font-family: 'Metal Mania';
    font-size: 22px;
    background-color: #e4c5a5;
    width: 130px;
    text-align: center;
    border: 2px solid #8b6946;
}
.objetos-logo{
    position: fixed;
    width: 70px;
    animation: rotar360 3s linear infinite; /* Cambia 3s para ajustar la velocidad */
    margin: 1vh -2vw;
}
.nombre{
    position: fixed;
    margin: -6.5vh 3.3vw ;
    font-family: 'Metal Mania';
    font-size: 20px;
}
.titulo-friend{
    margin: 0px 2vw;
}
@keyframes rotar360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
>>>>>>> rober

.nuevo-contenido-home {
    opacity: 100%;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

a {
    cursor: url('../../css/img/cursor.png'), auto;
}

.accesorios {
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    height: 65vh;
    top: 0;
    position: fixed;
}

.accesorios-1, .accesorios-2 {
    display: grid;
    align-self: flex-end;
}

.accesorios-2 {
    justify-self: end;
}

.superior {
    position: fixed;
}

.img-home {
    width: 650px;
    height: 150px;
}

@media (max-width: 389px) {
    .contenido-home {
        position: fixed;
        top: 100%;
    }
    .contenido-home-modalidad {
        grid-template-columns: 100%;
        height: 60vh;
        margin-top: 5vh;
    }
    .img-solitario, .img-multi {
        width: 280px;
    }
}

@media (min-width: 390px) and (max-width: 769px) {
    body {
        overflow: scroll;
    }
    .contenido-home {
        position: fixed;
        top: 100%;
    }
    .contenido-home-modalidad {
        grid-template-columns: 100%;
        height: 60vh;
        margin-top: 5vh;
    }
    .img-solitario, .img-multi {
        width: 300px;
    }
}




