* {
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}   
@font-face {
    font-family: 'Metal Mania';
    src: url('../../css/fonts/MetalMania-Regular.ttf') format('truetype');
}
html{
    background-color: #4C3A28;
    touch-action: manipulation; /* Evita el zoom mediante gestos táctiles */
}
.contenido-general-menu {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Cambiado a columna para mejor control del layout */
    align-items: center;
}

.contenido-home-oculto {
    display: grid;
}

.contenido-home {
    display: flex;
    align-items: flex-end; /* Cambiado a flex-end para alinear el contenido al fondo */
    justify-content: center;
    position: fixed;
    height: 30vh; /* Ajustado para mejor espacio */
    width: 100%;
    cursor: url('../../css/img/cursor.png'), auto;

}
.ranking {
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 10vh;
}

.icono-ranking {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenido-home-modalidad {
    display: flex;
    width: 100vw;
    height: 58vh;
    justify-content: center;
    margin-top: 70px;
}

.solitario{
    display: grid;
    grid-row-start: 1;
    height: 100px;
    width: 270px;
    background-image: url('../css/img/campo-modalidad.png');
    background-size: 270px;
    background-repeat: no-repeat;
}
.multijugador{
    display: grid;
    grid-row-start: 2;
    height: 100px;
    width: 270px;
    background-image: url('../css/img/campo-modalidad.png');
    background-size: 270px;
    background-repeat: no-repeat;
}

.bienvenido{
    display: grid;
    justify-self: center;
    
}
.content-bienvenido{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 20vh;
    margin-top: -5px;
}

.bienvenido-img{
    width: 400px;
    height: 150px;
}
.titulo-bienvenido{
    position: fixed;
    margin: 37px 146px;
    color: rgb(143, 102, 68);
    font-size: 25px;
    font-family: 'Metal Mania';
}
.titulo-user{
    position: fixed;
    margin: 60px 165px;
    color: rgb(143, 102, 68);
    font-size: 17px;
    font-family: 'Metal Mania';
}

.ranking-conte {
    display: grid;
    position: fixed;
    grid-template-columns: 10% 80% 10%;
    width: 100vw;
    z-index: 101;
    height: 10px;
}

.logo-ranking {
    position: fixed;
    display: grid;
    justify-items: start;
    height: 10px;
    margin: 0px 92vw;
}
.logo-perfi{
    margin: 0px 1.5vw;
}
.modalidad-juego{
    width: 330px;
}
.campos{
    display: grid;
    position: fixed;
    top: 38vh;
    gap: 20px;
    grid-template-rows: 50% 50%;
    height: 20vh;
}
.titulo-solitario{
    font-family: 'Metal Mania';
    position: relative;
    color: rgb(52, 42, 34);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.titulo-multijugador{
    position: relative;
    display: flex;
    font-family: 'Metal Mania';
    color: rgb(52, 42, 34);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.contenido-amigos-activos{
    position: fixed;
    top: 23vh;
    display: flex;
    align-items: center;
}
.contenido-activos{
    display: grid;
    gap: 10px;
}
.logo-usuario-conectado{
    position: fixed;
    margin: -69px 15px;
}

.usuario-conectado{
    position: fixed;
    margin: -62px 57px;
    font-family: 'Metal Mania';
    transform: rotate(-3deg); /* Rota 45 grados hacia arriba */
    font-size: 18px;
}
.point-conectados{
    position: fixed;
    margin: -74px 125px;
}
.point-color-conectados{
    color: rgb(0, 0, 0);
    font-size: 11px;
    transform: rotate(-2.5deg); /* Rota 45 grados hacia arriba */
}
.puntajes{
    position: fixed;
    margin: -3px 20px;
}
.estado{
    position: fixed;
    margin: -26px 80px;
    z-index: 1000;
}
.logo-enlinea{
    position: fixed;
}
.amigos-titulo{
    position: fixed;
    top: 20vh;
    left: 1vw;
}
.objetos{
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100vw;
    flex-direction: column;
    bottom: 0;
    height: 150px;
}
.cerrarSesioncontent{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}
.cerrar-sesion{
    bottom: 0dvh;
    color: #8b6946;
    font-family: 'Metal Mania';
    font-size: 22px;
    background-color: #e4c5a5;
    width: 130px;
    text-align: center;
    border: 2px solid #8b6946;
}
.objetos-espada{
    display: flex;
    justify-content: center;
    align-items: center;
}
.objetos-logo{
    width: 70px;
    animation: rotar360 3s linear infinite; /* Cambia 3s para ajustar la velocidad */
    margin: 1vh -2vw;
    z-index: 0;
}
.nombre{
    position: fixed;
    margin: -6.5vh 3.3vw ;
    font-family: 'Metal Mania';
    font-size: 20px;
}
.titulo-friend{
    margin: 0px 2vw;
}
@keyframes rotar360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nuevo-contenido-home {
    opacity: 100%;
}

.calaActivo{
    width: 40px;
}
@keyframes rotate {
    0% {
        transform: rotateY(0deg); /* Rotar en Y */
    }
    100% {
        transform: rotateY(360deg); /* Completar rotación en Y */
    }
}
a{
    cursor: url('../../css/img/cursor.png'), auto;
}
.accesorios{
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    height: 65vh;
    top: 0;
}
.accesorios-1{
    display: grid;
    align-self: flex-end;
}
.accesorios-2{
    display: grid;
    justify-self: end;
    align-self: flex-end;
}
.superior{
    position: fixed;
}
.img-home{
    width: 650px;
    height: 150px;
}


@media(max-width: 400px) and (max-width:800px){
    body{
        overflow: scroll;
        height: 100%;
    }
    .bienvenido{
        position: fixed;
        display: grid;
        justify-items: center;
        width: 102vw;
        
    }
    .bienvenido-img{
        width: 220px;
        height: 105px;
    }
    .titulo-bienvenido{
        position: fixed;
        margin: 25px 68px;
        font-size: 20px;
    }
    .titulo-user{
        position: fixed;
        margin: 44px 85px;
        font-size: 15px;
    }   
    .campos{
        position: fixed;
        display: grid;
        justify-self: center;
        top: 40%;
        height: 130px;
        gap: 10px;
    }
    .img-solitario, .img-multijugador{
        width: 200px;
    }
    .solitario{
        display: grid;
        grid-row-start: 1;
        height: 65px;
        width: 200px;
        justify-content: center;
        background-size: 200px;
    }
    .multijugador{
        display: grid;
        grid-row-start: 2;
        height: 65px;
        width: 200px;
        justify-content: center;
        background-size: 200px;
    }
    .titulo-multijugador, .titulo-solitario{
        font-size: 20px;
        height: 115%;
    }

    a{
        width: 200px;
    }
    .img-logoPerfil{
        width: 80px;
    }
    .ranking-logo{
        width: 78px;
    }
    .logo-ranking{
       margin: 0px 80vw;

    }
    .ranking-conte{
        margin: 4px 0;
    }
    .usuariosAmigos{
        display: none;
        width: 100vh;
        z-index: 100;
        height: 100vh;
    }
    .objetos-logo{
        width: 50px;
        z-index: 0;
    }
    .amigosImagenTitulo{
        width: 110px;
    }
    .nombre{
        position: fixed;
        font-size: 14px;
        margin-top: -35px;
        margin-left: 28px;
        z-index: 1000;
    }
    .contenido-amigos-activos{
        z-index: 1;
    }
    .imgFondoactivo{
        width: 180px;
    }
    .logo-usuario-conectado{
        margin: -52px 10PX;
    }
    .calaActivo{
        width: 35px;
    }
    .usuario-conectado{
        font-size: 13px;
        margin: -46px 46px;
    }
    .point-color-conectados{
        font-size: 8.5px;
    }
    .point-conectados{
        margin: -60px 95px;
    }
    .usuarios{
        width: 50px;
    }
    .amigosCerrar{
        width: 100px;
    }
    .puntajes{
        margin-left: 10px;
    }
    .logo-enlinea{
        width: 24px;
        margin: 12px -35px;
    }
    
    
}



