* {
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    margin: 0;
}

@font-face {
    font-family: 'Metal Mania';
    src: url('../../../sajuronoche/css/fonts/MetalMania-Regular.ttf') format('truetype');
}
body{
    cursor: url('../../css/img/cursor.png'), auto;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 101; /* Aparece encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.contenido-ranking-todo{
    position: relative;
    height: 500px;
    width: 430px;
    background-image: url('img/pngegg (4).png');
    background-size: cover; /* Hace que el fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 30px;
    z-index: 1000;
    display: grid;
    grid-template-rows: 23% 270px;
}
/* Contenido del modal */
.modal-content {    
    width: 100%; /* O el ancho que prefieras */
    max-width: 400px; /* Limitar el ancho máximo */
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
    justify-content: flex-start; /* Alinear al inicio */
    z-index: 101;
    position: absolute; /* Asegura que el modal no ocupa espacio en el flujo del documento */
    right: 0; /* Alinea el modal a la derecha */
    top: 10vh;
}
.contenidoSuperior-ranking{
    width: 80%;
    height: 50px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 58px;
    grid-row: 1;
}
.ranking-container {
    position: relative; /* Contenedor para los rankings */
    height: 270px; /* Mantiene la altura constante */
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
}
.ranking-superior{
    display: grid;
    font-family: 'Metal Mania';
    color: burlywood;
    font-size: 30px;
    height: 100%;
    align-items: end;
    margin: 0px 90px;
    justify-self: start;
}
.diario-semana{
    display: grid;
    grid-template-columns: 50px 50px; 
    align-self: center;
    margin-left: -5px;
    justify-self: end;
    z-index: 101;

}

.semanal, .mundial{
    display: flex;
    font-family: 'Metal Mania';
    border: 1px solid rgb(185, 136, 95);
    height: 20px;  
    background-color: rgba(143, 102, 68, 0.871);
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: rgb(238, 173, 119);
    font-size: 14px;
}
.logo-ranking-dentro{
    color: white;
}
.user-logo{
    width: 50px;
    margin-top: 3px;
}
.numero{
    font-family: 'Metal Mania';
    font-size: 50px;
    color: rgba(143, 102, 68, 0.871);
    display: grid;
    justify-self: center;
}
.usuario-ranking{
    width: 58%;
    height: 60px;
    margin: 0px 98px;
    display: grid;
    grid-template-columns: 20% 15% 35% 23%;
    border: 2px solid rgba(65, 53, 38, 0.947);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgba(65, 53, 38, 0.625);
}
.ranking-dentro,
.ranking-dentroMundial {
    width: 100%;
    height: 270px; /* Ocupa todo el espacio del contenedor */
    display: grid;
    grid-row: 2;
    gap: 12px;
    overflow-y: auto; /* Habilita el scroll vertical */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    position: absolute; /* Permite que se superpongan en el mismo espacio */
}

#ranking-semanal {
    opacity: 1; /* Totalmente visible por defecto */
    z-index: 1; /* Asegúrate de que esté en frente */
}

#ranking-Mundial {
    opacity: 0; /* Oculto por defecto */
    z-index: 0; /* Detrás de ranking semanal */
}

/* Scrollbars invisibles */
.ranking-dentro::-webkit-scrollbar, .ranking-dentroMundial::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

.ranking-dentro::-webkit-scrollbar, .ranking-dentroMundial::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}
.calabera{
    display: grid;
    justify-self: end;
    align-self: center;
}
.cala{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.usuario{
    font-family: 'Metal Mania';
    display: grid;
    color: rgb(185, 136, 95);
    align-items: center;
    font-size: 22px ;
    margin-left: -5px;
}
.sajuro-points{
    font-family: 'Metal Mania';
    display: grid;
    font-size: 12px;
    justify-self: start;
    color: rgb(185, 136, 95);
    margin-top: 7px;
}
.contenido-points{
    font-family: 'Metal Mania';
    display: flex;
    font-size: 12px;
    justify-content: center;
    color: rgb(185, 136, 95);
}
.point-general{
    margin-top: 5px;
}
.contenido-superior-ranking{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.semanal{
    color: red;

}
a{
    cursor: url('../../css/img/cursor.png'), auto;
}
@media(max-width: 400px){
    .modal-content {    
        margin: 0vh -21vw;
        top: 10vh;
    }
    .contenido-ranking-todo{
        position: fixed;
        background-size: 300px;
        width: 300px;
        top: 0;
        height: 300px;
        display: grid;
        grid-template-rows: 20% 200px;
        margin-top: 12vh;
    }
    .contenidoSuperior-ranking{
        position: relative;
        margin: 0px 0px;
        width: 300px;
        display: grid;
        grid-template-columns: 48% 52%;
        gap: 0;
        height: 50px;
    }
    .ranking-superior{
        display: grid;
        font-size: 18px;
        margin: 0px 70px;
        height: 25px;
        align-self: end;
    }
    .diario-semana{
        margin: 0;
        height: 80%;
        display: grid;
        align-items: end;
        justify-self: start;
    }
    .semanal{
        font-size: 10px;
        width: 38px;
        height: 15px;
        display: grid;
        justify-self: end;
    }
    .mundial{
        width: 47px;
        height: 15px;
        font-size: 10px;
    }
    .cala{
        width: 25px;
        height: 25px;
        display: grid;
        align-items: center;
    }
    .calabera{
        display: grid;
        align-items: start;
        height: 25px;
    }
    .numero{
        font-family: 'Metal Mania';
        font-size: 30px;
        color: rgba(143, 102, 68, 0.871);
        display: grid;
        justify-self: center;
        margin: -1.5px 0px;
    }
    .usuario-ranking{
        width: 57%;
        height: 37px;
        display: grid;
        grid-template-columns: 20% 15% 35% 23%;
        border: 2px solid rgba(65, 53, 38, 0.947);
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        background-color: rgba(65, 53, 38, 0.625);
        margin: 0% 22%;
    }
    .ranking-dentro,.ranking-dentroMundial{
        height: 190px;
        margin: 0;
    }
    .usuario{
        font-size: 16px;
        display: grid;
        align-items: center;
        height: 34px;
    }
    .point-general{
        margin-top: -3px;
    }
    .sajuro-points{
        font-size: 9px;
    }
    .contenido-points{
        font-size: 10px;
    }
}